<form {{action 'signin' on="submit"}}>
  {{input type="text" value=email placeholder="email"}}
  {{input type="password" value=password placeholder="password"}}
  <button type="submit">Sign In</button>
</form>
