.actions {
  lost-column: 1/3;

  @include max($tablet) {
    lost-column: 1/1;
  }
}

.input-block {
  height: 60px;
  margin-bottom: 60px;

  lost-column: 1/2.5;

  @include max($tablet) {
    lost-column: 1/2;
  }

  @include max($mobile) {
    lost-column: 1/1;
  }
}

.input-block-input {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border: none;
  border-bottom: 1px solid $gray;
  outline: none;
  color: $gray;
  &::placeholder {
    color: $gray-trans;
  }
  &.active {
    border-color: $yellow;
  }
  &::focus {
    background: none;
  }
  transition: border ease .22s;
}

.input-block-info {
  color: $gray-trans;
  font-size: 10px;
  transition: opacity ease .22s;
}

.input-block.error {
  .input-block-input {
    border-color: $red;
  }
  .input-block-info {
    opacity: 1;
    color: $red;
  }
}

.input-block.hide-text {
  .input-block-info {
    opacity: 0;
  }
}

.fade-in .input-block-info{
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
