.bar {
  height: 59px;
  margin-bottom: 60px;
  transition: border ease .22s;
  border-bottom: 1px solid $gray;

  &.active {
    border-color: $yellow;
  }

  &.error {
    border-color: $red;
  }
}

.bar-input {
  width: 100%;
  padding-bottom: 29px;
  border: none;
  outline: none;
  color: $gray;
  font-size: 24px;

  &::placeholder {
    color: $gray-trans;
  }

  &.search {
    padding-left: 40px;
    background: url("images/icon-magnifier.svg") top 7px left no-repeat;
  }

  &.add {
    padding-left: 40px;
    background: url("images/icon-plus.svg") top 7px left no-repeat;
  }
}
