.bar {
  lost-utility: clearfix;
  margin-bottom: 60px;
  border-bottom: 2px solid $gray;
  padding-bottom: 20px;
}

.bar-info {
  lost-column: 2/3;
  padding-top: 7px;

  @include max(750px) {
    lost-column: 1/2;
  }
}

.bar-action {
  lost-column: 1/3;

  @include max(750px) {
    lost-column: 1/2;
  }
}

.button {
  display: block;
  padding: 11px;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: $gray;
}

