.bar {
  margin-bottom: 60px;
  padding-bottom: 20px;
  border-bottom: 2px solid $gray;
  transition: border ease .22s;

  &.active {
    border-color: $yellow;
  }

  &.error {
    border-color: $red;
  }
}

.bar-input {
  width: 100%;
  border: none;
  outline: none;
  color: $gray;
  font-size: 24px;

  &::placeholder {
    color: $gray-trans;
  }

  &.search {
    padding-left: 40px;
    background: url("images/search-icon.svg") center left no-repeat;
  }

  &.add {
    padding-left: 40px;
    background: url("images/add-icon.svg") center left no-repeat;
  }
}
