.button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  padding-top: 11px;
  transition: background ease .22s;
  background-color: $gray-trans;
  text-align: center;
  margin-bottom: 20px;
  color: $gray;
  font-size: 1rem;

  &.active {
    background-color: $yellow;
  }

  &.error {
    background-color: $red;
  }
}


button.button {
  padding-top: 2px;
}
