.card {
  lost-column: 1/3;
  height: 280px;
  margin-bottom: $gutter;
  padding: 40px 40px 20px 40px;
  overflow: hidden;
  border: 1px solid $light-gray;

  @include max($tablet) {
    lost-column: 1/2;
  }

  @include max(700px) {
    lost-column: 1/1;
  }
}

.highlight {
  transition: .22s all;
  &:hover {border-color: $yellow;}
}

.no-highlight {
  &:hover{border-color: $light-gray;}
}

.card-title {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray;
}

.card-content {
  font-family: $serif;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
}
