.card {
  height: 280px;
  margin-bottom: $gutter;
  padding: 40px 40px 20px 40px;
  transition: border ease .22s;
  border: 1px solid $gray-trans;
  cursor: pointer;

  lost-column: 1/3;

  &:hover {
    border-color: $yellow;
  }

  @include max($tablet) {
    lost-column: 1/2;
    height: auto;
  }

  @include max($mobile) {
    lost-column: 1/1;
  }
}

.card-title {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray;
}

.card-content {
  height: 150px;
  font-size: 12px;
  line-height: 22px;
  overflow: hidden;
  font-family: $serif;

  @include max($tablet) {
    height: 110px;
  }

  @include max($mobile) {
    height: 90px;
  }
}
