.content {
  lost-column: 2/3;
  @include max($tablet) {
    lost-column: 1/1;
  }
}

.content-text {
  font-family: $serif;
  line-height: 32px;
  margin-bottom: 20px;
}

.content-input {
  width: 100%;
  height: 60vh;
  outline: none;
  resize: none;
  border: none;

  font-family: $serif;
  font-size: 1rem;
  line-height: 32px;
  color: $gray;

  @include max($tablet) {
    height: 40vh;
  }
}

.monospace {
  font-family: monospace;
}

.alert-message {
  color: $red;
  margin-bottom: 40px;
  font-size: 12px;
  font-family: $serif;
}
