$gutter: 40px;
$container: 1000px;
@lost gutter #{$gutter};

.container {
  lost-center: $container;
  padding: 0 $gutter;


  @include max(1160px) {
    margin-right: 20px;
  }
}

.clearfix {
  @include clearfix;
}
