$gutter: 40px;
$container: 1000px;
@lost gutter #{$gutter};

$tablet: 960px;


.container {
  lost-center: $container;
  padding: 0 $gutter;
}

.content {
  lost-column: 2/3;

  @include max($tablet) {
    lost-column: 1/1;
  }
}

.row {
  lost-utility: clearfix;
}
