@mixin clearfix {
  &::before,
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

@mixin min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

@mixin font-face($font-name, $file-name, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: $font-name;
    src: url("fonts/#{$file-name}.woff2") format("woff2"),
         url("fonts/#{$file-name}.woff") format("woff"),
         url("fonts/#{$file-name}.ttf") format("truetype");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
