.nav-container {
  position: relative;
}

.nav {
  position: fixed;
  transform: translateX(-120px);

  @include max(1100px) {
    position: static;
    transform: none;
    margin-bottom: 60px;
    * {
      display: inline-block;
    }
  }
}

.nav-logo {
  width: 60px;

  @include max(1100px) {
    margin-right: 40px;
    width: 40px;
  }
}
.nav-items {
  margin-top: 60px;

  @include max(1100px) {
    margin-top: 0;
  }
}

.nav-item {
  margin-bottom: 20px;
  cursor: pointer;

  @include max(1100px) {
    margin-right: 20px;
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &.profile {
    margin-top: 40px;
  }

  &.about {
    margin-top: 40px;

    @include max($mobile) {
      display: none;
    }
  }
}

.nav-spacing {
  margin-top: 40px;
}
