.search-results {
  @include clearfix;
  padding-bottom: 20px;
  border-bottom: $yellow solid 2px;
  margin-bottom: 60px;
}

.no-results {
  margin-bottom: 20px;
}

.no-results-text {
  margin-bottom: 40px;
}
