@import "mixins";
@import "reset";

$yellow: #fcee21;
$gray: #666666;
$light-gray: rgba(155, 155, 155, 0.25);

$serif: "Lora", Georgia, serif;
$sans: Helvetica neue, Helvetica, sans-serif;

html {
  font-size: 16px;
}

body {
  padding-top: 60px;
  font-size: 1em;
  font-family: $sans;
  color: $gray;
}

h2 {font-size: 24px;}

::selection { background: $yellow; }

@import "layout";
@import "card";
@import "bar";
@import "create";


.content {
  p {
    margin-bottom: 20px;
    line-height: 32px;
  }
}
