@import "mixins";
@import "reset";

$gray: #808080;
$gray-trans: rgba(155,155,155, 0.25);
$yellow: #fcee21;
$red: #fc5a3a;

$serif: "Lora", Georgia, serif;
$sans: Helvetica neue, Helvetica, sans-serif;

$tablet: 960px;
$mobile: 680px;

html {
  font-size: 16px;
}

body {
  padding-top: 60px;
  font-size: 1em;
  font-family: $sans;
  color: $gray;
}

::selection {
  background-color: $yellow;
}

@import "font";
@import "nav";
@import "layout";
@import "card";
@import "row";
@import "bar";
@import "content";
@import "actions";
@import "buttons";
@import "options";
