.topbar {
  @include clearfix;
  margin-bottom: 60px;
  padding-bottom: 20px;
  border-bottom: $gray solid 2px;

  &.active {
    border-color: $yellow;
  }
}

.topbar-content {
  max-width: 640px;
  width: 100%;
  float: left;
  padding-top: 6px;
  padding-right: 20px;
}

.topbar-action {
  float: right;
  max-width: 280px;
  width: 100%;
}

.topbar-title {
  color: $gray;
  font-size: 24px;

  &.inactive {
    color: $light-gray;
  }

  &.search {
    padding-left: 60px;
    background: url('images/icon-search.svg') center left 10px no-repeat;
    background-size: 16px;
  }

  &.add {
    padding-left: 60px;
    background: url('images/icon-add.svg') center left 10px no-repeat;
    background-size: 16px;
  }
}

input.topbar-title {
  border: 0;
  outline: 0;
  width: 100%;

  &::placeholder {
    color: $light-gray;
  }
}

.topbar-button {
  display: block;
  color: white;
  padding: 10px 0;
  text-align: center;
  background-color: $gray;

  .active & {
    background-color: $yellow;
  }

  &.inactive {
    background-color: $light-gray;
  }
}
