<div class="ipsum-toolbar">
  {{input placeholder="Add Ipsum Title Here…" value=model.ipsum.title class="ipsum-title"}}

  <a href="#" class="publish-button">Publish</a>
</div>

<article class="ipsum-content">
  {{textarea value=model.ipsum.text class="ipsum-textarea"}}
</article>
<div class="box ipsum-options">
  <h3 class="box-title">Options</h3>
  <div class="box-content">
    <ul>
      <li>Type</li>
    </ul>
  </div>
</div>

