<div class="ipsum-toolbar">
  <h3 class="ipsum-title">
    {{model.ipsum.title}}
  </h3>
  <a href="#" class="publish-button">Publish</a>
</div>

<article class="ipsum-content">
  {{model.ipsum.text}}
</article>
<div class="box ipsum-options">
  <h3 class="box-title">Options</h3>
  <div class="box-content">
    <ul>
      <li>Type</li>
    </ul>
  </div>
</div>

