<div class="container">
  <div class="bar">
    {{input value=model.ipsum.title placeholder="Add ipsum title here..." class="bar-input add"}}
  </div>
</div>

<div class="container">
  <div class="content">
    {{textarea
      value=model.ipsum.text class="content-input"
      placeholder="Drop in ipsum text here..." spellcheck="false"
    }}
  </div>
  <div class="actions">
    <button {{action "create"}} class="button">Publish</button>
  </div>
</div>
