<div class="ipsum-toolbar">
  <h3 class="ipsum-title">
    {{model.ipsum.title}}
  </h3>
  <a href="#" class="copy-button">Copy to clipboard</a>
</div>

<article class="ipsum-content">
  <p class="ipsum-text">
    {{model.generated.text}}
  </p>
</article>
<div class="box ipsum-options">
  <h3 class="box-title">Options</h3>
  <div class="box-content">
    <ul>
      <li>Select All</li>
      <li>HTMLify</li>
    </ul>
  </div>
</div>
