<div class="topbar">
  <div class="topbar-content">
    <h3 class="topbar-title">{{data.ipsum.title}}</h3>
  </div>
  <div class="topbar-action">
    <a data-clipboard-target=".ipsum-content" class="topbar-button active" {{action 'click' on='click'}}>
      {{copyStatus}}
    </a>
  </div>
</div>

<div class="content">
  <div class="ipsum-content">
    {{{htmlify data.generated.text}}}
  </div>
  <div class="box options">
    <div class="box-title">Options</div>
    <div class="box-content">
      <ul>
        <li>More</li>
        <li>HTMLify</li>
        <li>Curl</li>
      </ul>
    </div>
  </div>
</div>
