<div class="topbar">
  <div class="topbar-content">
    <h3 class="topbar-title">Your Ipsums</h3>
  </div>
</div>

<div class="content">
  {{#each model.user.ipsums as |ipsum|}}

    <div class="box">
      <button {{action 'deleteIpsum' ipsum.id}}>delete</button>
      {{#link-to 'ipsums.show' ipsum.id}}
        <h3 class="box-title">
          {{ipsum.title}}
          <img class="star" src="/assets/images/icon-star.svg">
        </h3>
        <p class="box-content">{{sample-text ipsum.generated_sample}}</p>
      {{/link-to}}
    </div>
    {{/each}}


</div>

<button {{action 'deleteAccount'}}>Delete Account</button>
