<div class="container">
  <div class="bar">
    <h2 class="title">Log In</h2>
  </div>
</div>

<div class="container">
  <form {{action "login" on="submit"}}>
    <div class="content">
      <div class="row">
        <div class="input-block">
          {{input value=model.user.email type="text" class="input-block-input" placeholder="Email or Username"}}
        </div>

        <div class="input-block">
          {{input value=model.user.password type="password" class="input-block-input" placeholder="Password"}}
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="button-wrapper">
        <button type="submit" class="button active">Log In</button>
        <p class="error-text">
          {{errors}}
        </p>
      </div>
    </div>
  </form>
</div>
